# Copie ce fichier en .env.local et remplis les valeurs récupérées sur
# https://console.firebase.google.com (Paramètres du projet > Général > Vos applications > Config SDK)
#
# Si ces variables ne sont pas définies, l'app fonctionne quand même en mode
# "solo" (localStorage) — voir README.

VITE_FIREBASE_API_KEY= "AIzaSyB1biHofOEhBBPNWAb4lA3fzM1gvd9pgJk"
VITE_FIREBASE_AUTH_DOMAIN="rezo-app-24974.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="rezo-app-24974"
VITE_FIREBASE_STORAGE_BUCKET="rezo-app-24974.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="387546155051"
VITE_FIREBASE_APP_ID="1:387546155051:web:721434b54869cececb426e"

